<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <style>
        body{
            background-color: mistyrose;
            color:palevioletred;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
        .info{
            display: flex;
            justify-content: space-between;
            width: 60%;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="head">
        <h1>Create an account:</h1>
    </div>
    <div class="info" >
        <form action="/create_user" method="POST">
            <div id="fname">
                <label for="fname">First Name:</label>
                <input type="text" name="fname">
            </div>
            <div id="lname">
                <label for="lname">Last Name:</label>
                <input type="text" name="lname">
            </div>
            <div id="email">
                <label for="email" >Email:</label>
                <input type="text" name="email">
            </div>
            <div id="btn">
                <input type="submit" value="Create account">
            </div>
        </form>
    </div>
</body>
</html>